html {
    font-family: "Montserrat", sans-serif;
}

body{
    position:relative;
    top: 17vh;
}

.modal {
    width: 100%;
    max-width: 900px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.modal-content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.resumen {
    width: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.resumen h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #8B8E98;
}

.resumen p {
    margin: 5px 0;
    font-size: 14px;
    color: #5b5d64;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 65%;
    flex-grow: 1;
    min-height: 300px;
}

.payment-options {
    width: 100%;
    display: flex;
    grid-template-columns: 50% 50%;
    gap: 20px;

}

.payment-options button {
    height: 55px;
    width: 100%;
    background: #F2F2F2;
    border-radius: 11px;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.payment-options button:hover {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
}

.separador {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    color: #8B8E98;
    margin: 0 10px;
}

.separador>p {
    word-break: keep-all;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    margin: auto;
}

.separador .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
    margin: auto;
}

.credit-card-info-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.split {
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 10px;
}

.input_label {
    font-size: 10px;
    color: #8B8E98;
    font-weight: 600;
    margin-top: 4px;
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

.purchase-btn {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase-btn:hover {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
}

.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.payment-options button img {
    max-height: 100%;
    max-width: 45%;
    object-fit: contain;
}

.payment-options button[name="paypal"] img {
    max-height: 5rem;
    max-width: 80%;
}

.payment-options button[name="card"] img {
    max-height: 90%;
    max-width: 40%;

}
